
.noLista {
  list-style: none;

}
.margen {
  margin: 3%;
}
.navDispaly{
  display: flex;
  direction: column;
}
.espacioNav {
  margin-right: 4%;
}
.colorFondo{
  background-color: #f7b617;
}
.colorLetrasBlanco{
  color: white;
}
#contenedorImagenTaxi {
  background: url("../img/taxi.jpg");
  background-size: 100%;
  background-position: bottom;
}

.margenContenedorRegistro {
  margin-top: 15%;
  margin-bottom: 15%;
}

.margenTitulo {
  margin-left: 7%;
}
.margenLeft {
  margin-left: 9%;
}
.sinBorde {
  border: 0;
}
.bajarTexto {
  margin-top: 25%;
}
.anchoImagenLabBlanco {
  width: 15%;
}
.tipoLetra {
  font-weight: bold;
}
.margenHr {
  margin-top: 3%;
}
.marjenBajo {
  margin-bottom: 5%;
}
.colorFondo {
  background-color: #f7b617;
}
.margenContenedorImagenApp {
  margin-top: 3%;
  margin-bottom: 3%;
}
.anchoImagenApp {
  width: 70%;
}
.margenImagenApp {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
}

.bordeSeccionApp {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.tamañoParrafoApp {
  font-size: 150%;
}
.margenParrafoApp {
  margin-top: 8%;
}
#imagenConductor {
  background: url("../img/conduce.jpg");
  background-size: 100%;
  background-position: center;
}
.colorOpaco {
  background-color: rgba(0, 0, 0,.5);
}
.margenAltoConductor {
  margin-top: 10%;
  margin-bottom: 3%;
}
.marjenBajoConductor {
  margin-bottom: 50%;
}
.tamañoLetrasConductor{
  font-size: 150%;
}
.margenTextoConductor{
  margin: 4%;
}
.margenLeftConductor {
  margin-left: 4%;
}
.colorBotonConductor {
  background-color: #f7b617;
}
.fondoColor {
  background-color: #f7b617;
}
.tamañoImagenMapa {
  width: 100%;
}
.margenAltoMapa {
  margin-top: 5%;
  margin-bottom: 5%;
}
.bordeContenedorMapa {
  border: 1px solid white;
  padding: 2%;
}
.colorFondo {
  background-color: #f7b617;
}
.formaInput {
  border: 1px solid white;
  border-spacing: inherit;
}
